{% extends "blog/base.html" %}
{% block content%}

    <fieldset class="form-group">
        <legend class="border-bottom mb-4"> <h2>About Awesome Blog</h2>
             </legend>
            </fieldset>
	<h3><p>Awesome Blog! is a free and open-source content management system (CMS) for publishing web content. It is built on a model–view–controller web application framework that can be used independently of the CMS that allows you to build powerful online applications.</p></h3>
    <fieldset class="form-group">
        <legend class="border-bottom mb-4"> <h2>What's a content management system (CMS)?</h2>
             </legend>
            </fieldset>
			<h3><p>The definition of a CMS is an application (web-based), that provides capabilities for multiple users with different permission levels to manage (all or a section of)content, data or information of a website project, or intranet application.Managing content refers to creating, editing, archiving, publishing, collaborating on, reporting, distributing website content, data and information.</p></h2>
{% endblock content %}
