{% extends "blog/base.html" %}
{% block content%}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="/media/aliya.jpg">
            <div class="media-body">
                <h2 class="account-heading"> ALIYA SHAIKH </h2>
                <p class="text-secondary"> aaliyashaikh4013@gmail.com </p>
                <p class="text-secondary"> 8691988384 </p>
            </div>
        </div>
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"> Developer Info
                </legend>
            </fieldset>
            <h2><b><u>Education:</u></b><h2> <h3> MSC (IT) & Python Development <h3>
            <h2><b><u>Graduated from:</u></b></h2> <h3> Mumbai University </h3>
            <h2><b><u>Achievements:</u></b></h2> <h3>Python Certificationt</h3>
    </div>
{% endblock content %}
