{% extends "blog/base.html" %}
{% block content%}

    <fieldset class="form-group">
        <legend class="border-bottom mb-4"> <h2>Privacy Policy</h2>
             </legend>
            </fieldset>
            <h4><p>The Awesome Blog Project, concerned about the rights of individuals, particularly with regard to automated processing, and in a desire for transparency with its users, has put in place a policy for covering all these processing operations, the purposes pursued by the latter as well as the means of action available to individuals so that they can best exercise their rights in plain English. To make this policy easy to find, we make it available in the footer of all pages of all our domains.</p></h4>
            <h4><p>Continued browsing of this site constitutes acceptance without reservation of the following terms and conditions of use. You agree to the use of cookies and other tracers.
        The current online version of this privacy policy is the only version that is enforceable during the entire period of use of the site and until a new version replaces it. However, this Policy is not an exhaustive statement of data protection law nor of our or your responsibilities in relation to data protection.</p></h4>
{% endblock content %}